.flag{
    width: 20px;
    height: 14px;
}

.nav{
    width: 100%;
    height: 40px;
}

.carret-down{
    margin-inline-start: 6px;
    margin-block-end: 4px;
}

.claro-logo{
    width: 67px;
    height: 25px;
}
.service-button{
    width: 205px;
    height: 100px;
}
.service-button img{
    width: 50px;
    height: 50px;
}

.img-metro{
    width: 100vw;
    height: 400px;
    overflow: hidden;
}

.img-metro video{
    width: 1920px;
    
}
.hi{
    font-size: 5.75rem;
}
.searcher{
    padding-block: 10.56rem;
    width: 618px;
    height: 400px;
}

.searcher-container{
    width: 618px;
    height: 400px;
}

.searcher-case{
    width: 618px;
    height: 67px;
    width: 100%;
    padding-inline-start: 4.188rem;
}
.searcher-case::placeholder{
    color: var(--text-3);
    font-size: var(--size-3)
}
.glass{
    width: 67px;
    height: 67px;
    z-index: 1;
}

.service-button{
    width: 250px;
    height: 100px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(45,45,45,.2);
}

.port{
    width: 80vw;
    padding-block: 4.3rem;
    padding-inline: 6.25rem;
}

.port-form{
    max-width: 388px;
}

.port-input{
    width: 100%;
    height: 60px;
}

.port-input::placeholder{
    color: var(--text-3);
    font-size: var(--size-2);
}

.asterisc{
    height: 60px;
}

.port-submit{
    border: none;
    width: 300px;
    height: 40px;
}
.info{
    width: 100%;
    max-width: 76vw;
}

.info-anchor{
    text-decoration: underline;
}

.info-div{
    width: 100%;
}
.info-hidden a{
    margin-left: 2px;
}
.angle-down{
    height: fit-content;
}

.info-div:hover{
    border-bottom: 1px solid var(--bg-4);
    cursor: pointer;
    .info-hidden{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding-top: 12px;
        border-top: 1px solid var(--text-3);
    }
    .angle-down{
        transform:rotate(180deg);
    }
}

.info-h3{
    width: 38vw;
    
}
